h1{
    margin-top:120px;
    text-align: center;
    font-size: 50px;
    font-family: serif;
    }
    #content{
    display: flex;
    justify-content: center;
    height: 45vh; 
    gap: 40px;
    }
    
    .buttons{
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 250px solid;
    cursor: pointer;
    transition: 0.5s;
    }
    
    #button1{
    color: palevioletred;
    }
    
    #button2{
    color: rebeccapurple;
    }
    
    #button3{
    color: teal;
    }
    
    .input-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Add margin to separate from triangles */
    }
    
    input {
    padding: 10px;
    margin: 0 50px; /* Margin to space out the inputs */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px; /* Set a width for the input boxes */
    }